<div class="container-fluid">
  <div class="front-header"></div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel">
        <h1>La Casa de la Futura para E-Cigarettes!</h1>
        <p><i>La American Heart Association</i> ha publicado un completo estudio sobre el <strong>cigarrillo electrónico</strong>, un dispositivo cada vez más popular que trata de ser un sustitutivo del cigarrillo tradicional y que ayuda a abandonar el consumo de tabaco.</p>
      </div>
    </div>
  </div>
</div>