<nav class="top-bar foundation-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
     <span data-tooltip class="has-tip" title="Try resizing your browser to see how the grid stacks"><h1 class="show-for-small-only"><a href="{{site.baseurl}}">Small E-Cig</a></h1></span>
     <span data-tooltip class="has-tip" title="Try resizing your browser to see how the grid stacks"><h1 class="show-for-medium-only"><a href="{{site.baseurl}}">Medium E-Cig</a></h1></span>
     <span data-tooltip class="has-tip" title="Try resizing your browser to see how the grid stacks"><h1 class="show-for-large-only"><a href="{{site.baseurl}}">Large screen</a></h1></span>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="{% if page.url == '/about' %}active{% endif %}"><a  href="{{site.baseurl}}about">About</a></li>
      <li class="{% if page.url == '/facts' %}active{% endif %}"><a  href="{{site.baseurl}}facts">Facts</a></li>
      <li class="{% if page.url == '/quit' %}active{% endif %}"><a  href="{{site.baseurl}}quit">Quit</a></li>
      <li class="{% if page.url == '/contact' %}active{% endif %}"><a  href="{{site.baseurl}}contact">Contact</a></li>
    </ul>
  </section>
</nav>